      - name: Run notifier
        run: |
          python notifier.py \
            --url "https://dash.hidencloud.com/store/view/349" \
            --keyword "location" \
            --region "SG" \
            --region-available \
            --region-unavailable-text "full and unavailable" \
            --telegram-token "${{ secrets.TG_TOKEN }}" \
            --telegram-chat-id "${{ secrets.TG_CHAT_ID }}" \
            --telegram-message "有地区开放了" \
            --align-hour
            --region-available \
            --region-unavailable-text "full and unavailable" \
